<?php

require (__DIR__ . '/../vendor/autoload.php');

define('APP_NAME', 'PixelTracking');

use Pixel\Controller\ImageController;
use Pixel\Notifier\Providers\PushOver;

$config = [
    'services' => [
        'image_controller' => [
            'class' => ImageController::class
        ],
        'push_over' => [
            'class' => PushOver::class,
            'arguments' => [
                'user_key' => 'your user key',
                'app_key'  => 'your app key'
            ],
            'tags' => [
                'notifier' => []
            ]
        ]
    ]
];
